/* PAGE CATEGORIES */

#cont_fiche_categories {
  background-color: #313131;
  color: white;
  width: 100%;
  height: 200px;
  position: absolute;
  margin-top: -75px;
  z-index: -1;
}

#entetecategories {
  text-align: center;
  margin-top: 50px;
  height: 100px;
}

#cont_body_categories {
  border-radius: 5px;
  background-color: white;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 15px;
}