/* PAGE ACCUEIL */

#cont_fiche_accueil {
  background-color: #313131;
  color: white;
  width: 100%;
  height: 500px;
  position: absolute;
  margin-top: -25px;
  z-index: -1;
}

#carousel_home {
  margin-top: 25px;
}

#cont_body_home {
  border-radius: 5px;
  background-color: white;
  padding: 1%;
  margin-bottom: 15px;
  margin-top: 25px;
}