/* BARRE CONNEXION */
body {
  background: url('/img/whitetext.jpg') center no-repeat fixed;
}

#ligne_connexion {
  background-color: #333333;
}

#ligne_connexion ul {
  list-style-type: none;
  padding-top: 2px;
  padding-bottom: 2px;
  margin: 0;
}

#ligne_connexion li {
  display: inline-grid;
}

#ligne_connexion a {
  text-decoration: none;
}

#ligne_connexion a:hover {
  background-color: inherit;
}

#ligne_connexion #navbarDropdown {
  color: white;
}

#ligne_connexion #navbarDropdown:hover {
  color: #ffc107;
}

footer {
  background-color: #333333;
  text-align: center;
  color: white;
}