#post {
  border-radius: 5px;
  background-color: white;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.imgprofil {
  width: 100px;
}

.content {
  border: 1px yellow groove;
  margin-bottom: 15px;
  padding-left: 7.5em;
  margin-top: 2em;

}

.titlepost {
  margin-left: 20em;
}