#post {
  border-radius: 5px;
  background-color: white;
  padding: 1%;
  margin-top: 5px;
  margin-bottom: 15px;
}

.imgprofil {
  width: 50px;
}

.titlepost {
  margin-left: 30%;
  margin-top: -5%;
}

.hour {
  margin-left:5.5%;
}
.content {
  border: 1px yellow groove;
  margin-bottom: 15px;
  margin-left: 5.5%;
  margin-top: 3em;
}





